html {
    max-width: 90%;
    max-height: 90%; 
    background-color: #478ead;
    font-family: Arial, Helvetica, sans-serif;
}

.game-rules {
    display: flex;
    flex-direction: column;
    max-width: auto;
    max-height: auto;
    min-width: 400px;
    margin-top: 20px; 
    margin-bottom: 50px;
    margin-left: auto; 
    /*border-style: dashed; */
  }

  /* main container */
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    max-width: 100%;
    height: auto; 
    margin: 10px; 
    padding: 2%;
    /*border-style: solid;
    border-color: black*/

  }

  .description {
    flex-basis: 550px; 
    max-width: 100%; 
    max-height: auto;
    align-items: center;
    justify-content: center;
    margin: 20px; 
    padding: 10px; 
    /*border-style: solid;
    border-color: red;*/
  }

  .description p {
    text-align: center;
    font-size: 1.5em;
    color: white;
  }

  .description h1 {
    text-align: center;
    color: white;

  }

  .screenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 650px;
    max-width: 100%;
    max-height: auto;
    margin: 20px 5px 30px; 

    /*border-style: solid;
    border-color: navy;*/
  }

  .screenshot img {
    max-width: 80%;
    max-height: auto;
    margin: 10px 10px 0px; 
    border-radius: 5px;
    filter:drop-shadow(0.3rem 0.3rem rgba(0, 0, 0, 0.25));
  }

  .caption {
    display: flex; 
    margin: 10px 5px 0px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden; 
    /*border-style: solid;
    border-color:darkolivegreen */

  }

  /* for image captions */
  .caption p {
    max-width: 90%;
    text-align: justify;
    font-size: 0.95em;
    color: rgb(35, 35, 35); 
  }

  .controls {
    display: flex; 
    flex-direction: column;
    max-width: 100%; 
    max-height: auto;
    margin-top: 20px; 
    padding-top: 20px;

  }

  .controls img {
    max-width: 100%;
    border-radius: 5px; 
  }

  .controls p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(35, 35, 35)
  }

  #controls-header {
    max-width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    color: white 
  }

  .spacing {
    margin: 20px; 
    /*border-color: pink; 
    border-style: solid; */
  }


  .button {
    background-color: #e67e22;
    color: white; 
    border: none;
    border-radius: 20px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
  }

  .button:hover {
    opacity: 1; 
  }

/* End image box */
