<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard | ADQS</title>
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}" />
    

</head>
<body>
    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Ranking</th>
            <th>Player Name</th>
            <th>Score</th>
        </tr>
        {% for score in scores %}
        <tr>
            <td class='placement'>{{ loop.index }}</td>
            <td class='player'>{{ score[1] }}</td> <!-- score[0] should be the playerID -->
            <td class='score'><span>{{ score[2] }}</span></td> <!-- score[2] should be the score -->
        </tr>
        {% endfor %}
    </table>
    <a href="/" class="btnStack">back to the menu</a>
</body>
</html>