<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Best Scores | ADQS</title>
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/myBestScore.css')}}"/>
    
</head>
<body>
    <h1>My Best Scores</h1>
    <table>
        <tr>
            <th>Ranking</th>
            <th>Date</th>
            <th>Score</th>
        </tr>
        {% for score in scores %}
        <tr>            
            <td class='placement'>{{ loop.index }}</td>
            <td class='player'>{{ score[3] if score[3] else 'No Date Available' }}</td>
            <td class='score'><span>{{ score[2] if score[2] else 'No Date Available' }}</span></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/index" class="btnStack">back to the menu</a>
</body>
</html>